@font-face {
    font-family: 'fuenteCanta';
    src: url(font/Montserrat-Regular.ttf);
}

body{
    font-family: 'fuenteCanta';
    font-size: 15px;
    color: white;
}

@media (max-width: 767.98px) {
    .ingresarCancion{
        padding: 10px;
    }
    .botonIniciar, .pausaBtn{
        margin-top: 20px;
    }
}

@media (min-width: 767.98px) {
    .ingresarCancion{
        padding: 20px;
    }
}

@media (hover: hover) {
    .botonVel:hover{
        background-color: red;
        border: 2px solid red;
        color: black;
    }

    .botonElim:hover{
        background-color: rgb(201, 201, 201);
        border: 2px solid rgb(201, 201, 201);
        color: black;
    }
}

@media (hover: none) {
    .botonVel:hover{
        background-color: black;
        border: 2px solid red;
        color: red; 
    }

    .botonElim:hover{
        background-color: black;
        border: 2px solid rgb(201, 201, 201);
        color: rgb(201, 201, 201);
    }
}

.containerPrincipal{
    width: 100%;
    display: flex;
    justify-content: center;
}

.ingresarCancion{
    margin-top: 50px;
    margin-bottom: 50px;
    border: 3px solid white;
    border-radius: 15px;
}

.campoForm{
    background-color: black;
    border-radius: 10px;
    border-color: white;
    color: white;
    padding: 20px;
    font-size: 15px;
    height: 515px;
}

.form-control:focus{
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 0 1px white;
    border: 1px solid white;
    color: rgb(255, 255, 255);
}

.form-control::placeholder {
    color: rgb(191, 191, 191); 
}

textarea{
    resize: none;
}

textarea::-webkit-scrollbar {
    width: 7px; /* Ancho de la barra de desplazamiento */
}

textarea::-webkit-scrollbar-track {
    background: black; /* Color de fondo de la pista de la barra de desplazamiento */
}

textarea::-webkit-scrollbar-thumb {
    background: rgb(170, 170, 170); /* Color del pulgar de la barra de desplazamiento */
    border-radius: 3px;
}

textarea::-webkit-scrollbar-thumb:hover {
    background: rgb(130, 130, 130);/* Color del pulgar de la barra de desplazamiento al pasar el ratón por encima */
}

textarea::-webkit-scrollbar-thumb:active {
    background: rgb(100, 100, 100);/* Color del pulgar de la barra de desplazamiento al pasar el ratón por encima */
}

.iconoBoton{
    font-size: 20px;
}

.botonVel{
    border-radius: 15px; 
    background-color: black;
    border: 2px solid red;
    color: red; 
}

.btn.botonVel:active{
    background-color: rgb(199, 0, 0);
    border: 2px solid rgb(199, 0, 0);
    color: black;
}

.btn.botonVel:focus-visible{
    background-color: black;
    border: 2px solid red;
    color: red; 
}

.botonElim{
    background-color: black;
    border: 2px solid rgb(201, 201, 201);
    color: rgb(201, 201, 201);
}

.btn.botonElim:active{
    background-color: rgb(170, 170, 170);
    border: 2px solid rgb(170, 170, 170);
    color: black;
}

.btn.botonElim:focus-visible{
    background-color: black;
    border: 2px solid rgb(201, 201, 201);
    color: rgb(201, 201, 201);
}

.pausaBtn{
    width: 49%;
    display: none;
}

.mainBtnRow{
    text-align: center;
}

.dropup .dropdown-toggle::after {
    display: none;
}

.dropup .dropdown-toggle.show{
    background-color: black;
    border: 2px solid red;
    color: red; 
}

.dropup .dropdown-toggle.show:hover{
    background-color: red;
    border: 2px solid red;
    color: black;
}

.dropdown-menu {
    background-color: black;
    border: 1px solid red;
    border-radius: 10px;
    padding: 5px;
}

.dropdown-item {
    border-radius: 5px;
    color: red;
    display: flex;
    justify-content: space-between;
}

.dropdown-item:hover{
    background-color: red;
    color: black;
}

.dropdown-item.selected .iconoSelect {
    display: inline-block; /* Mostrar el ícono de selección */
}

.iconoSelect{
    display: none;
}